
body {
  font-weight: normal;
  background-color: #EEEEEE;  
  text-align: center;
}

h1 {
  color: #9D2349;
}


/* Navigation Bar */
nav ul{
	margin:0;
	padding:0;
	background-color: #D6D3DB;
}

nav a{
	display:block;
	margin-bottom: 10px;
	padding: 10px;
	
	text-align: center;
	text-decoration: none; /* to remove underlying of the links */
	
	color: black;
	
	font-size : 20px;
}

nav li {
	margin-top: 10px;
	font-weight: bold;
}

/* Change the link color on hover and add the underlying*/
nav a:hover{
	color: #9D2349;
	text-decoration: underline;
}

/* Boutons de la classe subject-buttons */
.subject-buttons button {
	background-color: #9D2349;
	color : white;
	padding : 10px 24px;
	font-size : 18px;
	cursor : pointer;
}

.subject-buttons button:hover {
	opacity:0.7;
}

.subject-buttons button:focus {
	opacity : 1;
	background-color: #D4406E;
	border : 3px solid #71687D;
}

.selected-button {
	background-color: #9D2349;
	color : white;
	padding : 10px 24px;
	font-size : 18px;
	cursor : pointer;
}

.subject-buttons button:disabled {
	cursor : not-allowed;
}

[class^="answers"]{
	margin-top : 5px;
	border : 2px solid black;
	background-color: #FFCCFF;
}

/* Boutons de la classe answer-buttons */
button.answer-buttons{
	margin-bottom : 10px;
	margin-right : 10px;
	background-color: #8FAADC;
	color : white;
	padding : 30px;
	font-size : 18px;
	cursor : pointer;
	width : 300px;
}

button.answer-buttons:hover {
	opacity:0.7;
}

button.answer-buttons:focus{
	opacity:0.7;
	border : 5px solid yellow;
}

button.answer-buttons:disabled{
	cursor : not-allowed;
}


/* Boutons de la classe submit */
button.submit {
	background-color: #71687D;
	color : white;
	padding : 10px 24px;
	font-size : 18px;
	cursor : pointer;
	margin-bottom : 5px;
}

button.submit:hover {
	background-color: #BBB6C2;
}

button.submit:focus {
	background-color: #BBB6C2;
	border : 2px solid #71687D;
}

button.submit:active {
	background-color: #BBB6C2;
	border : 2px solid #71687D;
}

button.submit:disabled {
	/* background-color: #BBB6C2;  Pour garder même couleur que quand on a cliqué dessus mais mauvaise idée*/
	/* border : 2px solid #71687D; */
	cursor : not-allowed;
}

.rules {
	text-align: left;
}

#attention {
	font-style: italic;
	color: red;
}

/*
Idées pour qu'on ne puisse plus changer la couleur d'un bouton quand il a été cliqué (qu'il soit figé)
-button.submit:not(.disable):hover
-button.submit:hover:not([disabled="disabled"])
-pointer-events:none dans le disabled
-hover:none dans le disabled
-avec button:active

*/