<!DOCTYPE html>
<html>
  <head>
    <title>QUIZ</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/css/index.css?refresh=0" />
    <link rel="stylesheet" href="./static/css/header.css?refresh=0" />
    <script src="./static/js/quiz.js"></script>
    <script src="./static/js/index.js"></script>
  </head>
  <body>
    <header>
      <div class="wrapper">
        <h1 id="language">Quiz de culture générale</h1>
        <nav>
          <ul>
            <li><a href="index.html">Jouer</a></li>
            <li><a href="rules.html">Règles</a></li>
			<li><a href="index_french.html"><img src="../static/img/french.png" height ="30"/></a></li>
			<li><a href="index.html"><img src="../static/img/english.png" height ="30"/></a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div id="main">
      <h1>Bienvenue dans le</h1>

      <img src="../static/img/csquiz.png" height="100" />

      <h3>
        Merci de choisir un thème avant de commencer le quizz. <br />
        Si vous êtes un nouveau joueur, n'hésitez pas à lire les règles du jeu !
      </h3>

      <div class="subject-buttons">
        <button onclick="changeTheme('Cinema')">Cinéma</button>
        <button onclick="changeTheme('Art')">Art</button>
        <button onclick="changeTheme('Geography')">Géographie</button>
        <button onclick="changeTheme('History')">Histoire</button>
        <button onclick="changeTheme('Politics')">Politique</button>
      </div>
      <br />
      <button id="start" class="submit" onclick="start()">Commencer</button>
      <br /><br />
    </div>
  </body>
</html>
