<!DOCTYPE html>
<html>
	
	<head>
		<title>QUIZZ</title>
		<meta charset='UTF-8'/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel='stylesheet' href='./static/css/index.css?refresh=0'/>
		<link rel='stylesheet' href='index.css?refresh=0'/>
	</head>
  
	<body>
  
		<div id="main">
  
		<div>
			<header>
				<nav>
					<ul>
						<li><a href="index.html">Play</a></li>
						<li><a href="rules.html">Rules</a></li>
					</ul>
				</nav>
			</header>
		</div>
		
		<h1>Welcome to the</h1>
	
		<img src='../static/img/csquiz.png' height='100'/>
	
		<h3>Please choose one subject before starting the quiz. <br> If you're a new player, feel free to read the game rules !</h3>
	
		<div class="subject-buttons">
			<button>History</button>
			<button disabled>Cinema</button>
			<button disabled>Art</button>
			<button disabled>Science</button>
			<button disabled>Sport</button>
		</div>
	
	
		<!-- Le form sert à rien je crois...
		<br>
		<form action="/" method="POST">

			<div id="submitButton"> 
				<br><input type="submit" value="START" id="button">
			</div>

		</form>
		-->
	
		<br>
		<button id="start" class="submit" onclick="start()">START</button>
		<br><br>
		
		</div>

	</body>
  
	<script>
	
		let question_number=0;
		
		let feedback_true="The answer is correct !"
		let feedback_false="The answer is wrong !"
	
		function start(){
			//Disable the START button
			document.getElementById("start").disabled=true;
			
			//!!!!!Pour freeze tous les boutons sur les thèmes mais ça marche pas
			var subjects_buttons = document.getElementsByClassName("subject-buttons");
			for (var i = 0; i < subjects_buttons.length; i++) {
				subjects_buttons[i].disabled =true;
			}
			
			AddQuestion();
		}
		
		
		//We display a question with 4 answers
		async function AddQuestion(){
		    const [answerObject] = await fetch("http://127.0.0.1:5000/newquestion").then((res)=>{
                return res.json();
            })

            console.log(JSON.stringify(answerObject, null, 3));

			//Disable Continue and End buttons if there are there
			continue_button_id="next"+question_number;
			let continue_button = document.getElementById(continue_button_id);
			if (continue_button!=null){
				continue_button.disabled=true;
				end_button_id="end"+question_number;
				document.getElementById(end_button_id).disabled=true;
			}
			
			//Create a new question
			question_number+=1;
			// !!!!!!!!!!!!!!!! A changer par la question générée et les réponses
			var question = "Quand est mort Louis XIV ?"
			var answer1 = "1651";
			var answer2 = "1715";
			var answer3 = "1793";
			var answer4 = "1836";
			
			//Display the question in a div
			let div = document.createElement("div");
			div.className = 'answers';
			div.innerHTML="<h3>QUESTION "+question_number+"</h3><p>"+question
						  +"</p><button class='answer-buttons'>"+answer1
						  +"</button><button class='answer-buttons'>"+answer2
						  +"</button><br><button class='answer-buttons'>"+answer3
						  +"</button><button class='answer-buttons'>"+answer4
						  +"</button><br><button class='submit' id='submit"+question_number+"' onclick='AnswerQuestion()'>Submit</button>";
			document.getElementById("main").appendChild(div);
		}
		
		
		function AnswerQuestion() {
		
			//Disable previous buttons
			submit_button="submit"+question_number;
			document.getElementById(submit_button).disabled=true;
			
			//Display a feedback with the true answer and Next/End buttons
			let div = document.createElement("div");
			let feedback=feedback_true;
			var messagetodisplay="<p>"+feedback
								+"</p><button class='submit' id='next"+question_number+"' onclick='AddQuestion()'>Next</button>"
								+"<button class='submit' id='end"+question_number+"' style='background-color:red; margin-left:5px;' onclick='End()'>End</button>";
			div.innerHTML=messagetodisplay;
			document.getElementById("main").appendChild(div);
		}
		
		function End(){
			//Disable Next button
			continue_button_id="next"+question_number;
			document.getElementById(continue_button_id).disabled=true;
			end_button_id="end"+question_number;
			document.getElementById(end_button_id).disabled=true;
			
			//Display a final message with the player's score
			let div = document.createElement("div");
			div.innerHTML="<p>Thank you for playing !</p>";
			document.getElementById("main").appendChild(div);
		}

	</script>
  
</html>