<!DOCTYPE html>
<html>
  <head>
    <title>QUIZZ</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/css/index.css?refresh=0" />
  </head>

  <body>
    <div>
      <header>
        <nav>
          <ul>
            <li><a href="index.html">Play</a></li>
            <li><a href="rules.html">Rules</a></li>
          </ul>
        </nav>
      </header>
    </div>

    <h1>Règles du jeu</h1>

    <div class="rules">
      <p>
        CSQuiz est un quiz de culture générale accessible à tous ! Le but du jeu
        est de répondre correctement au maximum de questions.
      </p>

      <h3>Début du jeu</h3>
      <p>
        Pour commencer la partie, il vous suffit de sélectionner un thème parmis
        les 5 proposés (History, Cinema, Art, Science, Sport). Ensuite, cliquez
        sur le bouton <strong>START</strong>. Une première question apparaîtra,
        avec 4 choix de réponses.
      </p>
      <img src="../static/img/subjects.png" height="40" />
      <p id="attention">
        Le quiz étant en cours de développement, seule la catégorie "History"
        est accessible pour le moment.
      </p>

      <h3>Déroulement</h3>
      <p>
        Pour répondre à une question, il vous suffit de cliquer sur la réponse
        que vous souhaitez puis sur le bouton <strong>Submit</strong>. <br />La
        bonne réponse s'affichera alors en vert. Si la réponse que vous avez
        sélectionnée était fausse, elle apparaîtra en rouge. Vous pourrez alors
        passer à la question suivante en cliquant sur le bouton
        <strong>Next</strong>.
      </p>
      <img src="../static/img/next.png" height="30" />

      <h3>Fin du jeu</h3>
      <p>
        Vous pouvez décider de finir la partie à chaque fois que vous avez
        répondu à une question, en cliquant sur le bouton <strong>End</strong>.
      </p>
      <img src="../static/img/end.png" height="30" />
      <p>
        Attention ! Une fois qu'une question est dévoilée, vous êtes obligés d'y
        répondre et ne pouvez pas stopper la partie tant que vous n'avez pas
        soumis une réponse.
      </p>

      <h3>Calcul des points</h3>
      <p>
        Chaque bonne réponse vous rapporte 1 point. Votre score final correspond
        donc à votre nombre de bonnes réponses, sur le total de questions.
      </p>
    </div>
  </body>
</html>
