<!DOCTYPE html>
<html>

  <head>
  
    <title>QUIZZ</title>
	<meta charset='UTF-8'/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel='stylesheet' href='./static/css/index.css?refresh=0'/>
	
  </head>
  
  <body>
  
  	<div>
	<header>
		<nav>
			<ul>
				<li><a href="index.html">Play</a></li>
				<li><a href="rules.html">Rules</a></li>
			</ul>
		</nav>
	</header>
	</div>

	<h1>Game rules</h1>
	
	<div class="rules">
		<p>CSQuiz is a general knowledge quiz accessible to all! The goal of the game is to answer as many questions as possible correctly.</p>
		
		<h3>Beginning of the game</h3>
		<p>To start the game, you just have to select a theme among the 5 proposed (History, Cinema, Art, Science, Sport). Then click on the <strong>START</strong> button. A first question will appear, with 4 choices of answers.</p>
		<img src='../static/img/subjects.png' height='40'/>
		<p id="attention">As the quiz is under development, only the "History" category is available for the moment.</p>

		<h3>Course of the game</h3>
		<p>To answer a question, just click on the answer you want and then on the button <strong>Submit</strong>.
		<br>The correct answer will then appear in green. If the answer you selected was wrong, it will appear in red. You can then move on to the next question by clicking on the <strong>Next</strong> button.</p>
		<img src='../static/img/next.png' height='30'/>
		
		<h3>End of the game</h3>
		<p>You can decide to end the game each time you have answered a question, by clicking on the <strong>End</strong> button.</p>
		<img src='../static/img/end.png' height='30'/>
		<p>Warning! Once a question is revealed, you have to answer it and cannot stop the game until you submit an answer.</p>
		
		<h3>Point calculation</h3>
		<p>Each correct answer gives you 1 point. Your final score is therefore the number of correct answers you get out of the total number of questions.</p>
	</div>

  </body>

  
</html>